---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="splash_page blog-header">
    <div class="custom-links">

      <!-- left side links -->
      <span class="links-left">
      {% for social in site.social %}
        {% if social.left %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              {% if social.ai %}
              <i class="ai ai-{{ social.icon }}"></i>
              {% else %}
              <i class="fa fa-{{ social.icon }}"></i>
              {% endif %}
            </a>
            {% if forloop.index < 3 %}
            &nbsp;&nbsp;·&nbsp;&nbsp;
            {% endif %}
        {% endif %}
        {% endif %}
      {% endfor %}
      </span>

      {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
      <span class="links-right">
      {% endif %}

      <!-- right side links -->
      {% for social in site.social %}
        {% if social.right %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              {% if social.ai %}
              <i class="ai ai-{{ social.icon }}"></i>
              {% else %}
              <i class="fa fa-{{ social.icon }}"></i>
              {% endif %}
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
        {% endif %}
      {% endfor %}
        <a class="custom-link icon-envelope" href="mailto:dbgoodman@gmail.com", title="Reach me via email">
          <i class="fa fa-envelope"></i>
        </a>
      </span>
    </div>

    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
</header>

<main class="content" role="main">

    <h5 class="index-headline featured"><span>Welcome</span></h5>

    {{ content }}

    <h5 class="index-headline featured"><span>Affiliations & Support</span></h5>
    <div class="blog-institutions">
      <img src='/assets/images/ucsf.png'>
      <img src='/assets/images/parkerinstitute.png'>
      <img src='/assets/images/czbh.png'>
      <img src='/assets/images/jcc_txt.jpg'>
    </div>


    <!-- {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}} -->

</main>
